<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/logo/Logo.png" alt="Logo" class="logo" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>

  <ion-toolbar>

    <ion-title>Barrinha</ion-title>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>
      
    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button>

        <ion-icon name="search"></ion-icon>

      </ion-button>
      
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let noticia of noticias">
      <ion-thumbnail slot="start">
        <img [src]="noticia.fields.thumbnail" *ngIf="noticia.fields.thumbnail">
      </ion-thumbnail>

      <ion-label>
        <h2>{{ noticia.webTitle }}</h2>
        <p>{{ noticia.fields.trailText }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

